<footer class="footer">
    <div class="footer-section">
    </div>
    <div class="footer-section text-center">
       <h3>Copyright</h3>
       <p>&copy; 2024 By Yoga Adi Saputra. All rights reserved.</p>
     </div>
    <div class="footer-section">
      
    </div>
    
  </footer>