<div class="mixed center">
  <div class="mixed-left">
    <% if (locals.addCourse) { %> <% for (i = 0; i < 4 ; i++) { %>
    <div
      class="additional-course-card"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.658)
          ),
          url(https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      "
    >
      <p>Additional Course</p>
      <h1>Title</h1>
      <span><small>17 lesson</small></span> <span><small>4 Hours</small></span>
      <div class="ratings">
        <small>5.0</small>
        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
      </div>
      <small>Created by</small>
      <h3>Jarwo Kwat</h3>
    </div>
    <% }} %>
  </div>

  <div class="mixed-right">
    <div class="announcements">
      <h3>
        <i class="fa-regular fa-newspaper" style="color: #949494"></i>
        announcement
      </h3>
      <a class="drop-down" href=""><i class="fa-solid fa-caret-down"></i></a>
      <hr />
      <div class="ann-cards">
        <div class="ann-card">
          <h4>This is the first announcement</h4>
          <div class="ann-card-low">
            <small>published by: </small>
            <span><small>Yoga Adi Saputra</small></span
            ><br />
            <small>Jul 25, 2024</small>
            <hr />
          </div>
        </div>
        <div class="ann-card">
          <h4>This is the Second announcement</h4>
          <div class="ann-card-low">
            <small>published by: </small>
            <span><small>Yoga Adi Saputra</small></span
            ><br />
            <small>Jul 25, 2024</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
