<header>
  <% if (locals.page) { %>
    <nav class="navbar">
      <div class="navbar-left">
        <div class="logo">
          <a href="/"><img src="/image/logo.png" alt="Logo" /></a>
        </div>
      </div>
      <ul class="nav-links">
        <li> 
          <a href="/" id="home" class="<%= page === 'main' ? 'nav-select' : '' %>">
            Home
          </a>
        </li>
        <li>
          <a href="/training-home" id="training" class="<%= page === 'training' ? 'nav-select' : '' %>">Training</a>
        </li>
        <li>
          
          <a href="/task" id="task" class="<%= page === 'task' ? 'nav-select' : '' %>">Task</a>
        </li>
        <li>
          <a href="/forum" id="forum" class="<%= page === 'forum' ? 'nav-select' : '' %>">Forum</a>
        </li>
      </ul>
      <div class="navbar-right">
        <a href="#notifications">
          <i class="fa-regular fa-bell" style="color: #a3a3a3"></i>
        </a>
        <a href="#login">Login</a>
      </div>
    </nav>
  <% } %>
</header>
