
<div class="startLearning center">
    <div class="startLearning-top">
      <h1>Lets Start Learning</h1>
      <a href="">My learning</a>
    </div>
    <div class="learn-cards">
      <div class="learn-card">
        <img
          src="https://www.developer.com/wp-content/uploads/2021/09/Java-tutorials.jpg"
          alt=""
        />
        <div class="content-card">
          <h2>Title of content</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            veritatis possimus voluptatibus cumque fugiat saepe porro atque
            architecto?.
          </p>
          <div class="progress-container main" data-progress="90">
            <div class="progress-bar"></div>
        </div>
        </div>
      </div>
      
    </div>
  </div>