<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <div class="logo">
                    <a href="#"><img src="/image/logo.png" alt="Logo"></a>
                </div>
            </div>
            <ul class="nav-links">
                <li><a href="#home"><i class="fa-solid fa-house" style="color: #a3a3a3;"></i> Home</a></li>
                <li><a href="#training">Training</a></li>
                <li><a href="#task">Task</a></li>
                <li><a href="#forum">Forum</a></li>
            </ul>
            <div class="navbar-right">
                <a href="#notifications"><i class="fa-regular fa-bell" style="color: #a3a3a3;"></i></a>
                <a href="#login">Login</a>
            </div>
        </nav>
        <div class="categories">
            <ul>
                <li><a href="">IT</a></li>
                <li><a href="">Ekonomi</a></li>
                <li><a href="">Design</a></li>
                <li><a href="">Personal Development</a></li>
            </ul>
        </div>
    </header>
    
    <script src="https://kit.fontawesome.com/462e5cdfa2.js" crossorigin="anonymous"></script>
</body>
</html>
