body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:rgb(245, 245, 245);
  color: #2d2f31;
}

header {
  background-color: #ffffff;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  height: 50px;
  font-family: "Manrope", sans-serif;
  border-style: solid ;
  border-width: medium;
  border-color: #ddd;
}

.categories ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.categories ul li {
  margin: 0 20px;
  padding: 10px;
}

.navbar-left {
  flex: 1;
  display: flex;
  justify-content: center; /* Centering the logo within its flex container */
}

.logo img {
  height: 100px;
}

.nav-links {
  flex: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #252525;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: center; /* Centering the right navbar content within its flex container */
  align-items: center;
}

.navbar-right a, .categories a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  margin-left: 15px;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-right a:hover {
  color: #ddd;
}

#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
  height: 326px;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #00171F;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007EA7;
}
#slides .slide_4 {
  background: #00A8E8;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
}
.center {
  margin: auto;
  width: 60%;
}
.startLearning, .nextLearn {
  border-width: medium;
  margin-top: 50px;
}
.startLearning-top{
  display: flex;
  justify-content: space-between;
}
.startLearning-top a {
  align-self: center;
}

.learn-cards {
  display: flex;
  flex-wrap: wrap; /* Optional: This allows the cards to wrap to the next line if they don't fit in one row */
  gap: 16px; /* Optional: This adds some space between the cards */
}

.learn-card {
  font-size: 0.8rem;
  text-align: center;
  background-color: #fff;
  width: calc((100% - 32px) / 3);
  display: flex;
  height: 152px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
  transition: transform 0.3s ease;
}
.learn-card img {
  width: 40%;
  object-fit: cover;
}

.content-card {
  padding: 0;
  margin: 0;
  border: 2px solid #d6d6d6;
  
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-top: 50px;
  color: white;
}
.banner .buttons {
  align-self: center;
  margin-right: 50px;
}
.banner .adv {
  margin-left: 50px;
}

.nextLearn{
  
}
.big-card {
  border: 2px solid #d6d6d6;
  display: flex;
  font-size: 0.9rem;
}
.big-card-content {
  margin-left: 20px;
  align-self: center;
}

.mixed {
  margin-top: 50px;
  display: flex;
}
.mixed-left {
  width: 80%;
  display: flex;
  justify-content:first baseline;
  flex-wrap: wrap;
  gap: 28px;
}
.additional-course-card {
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  border: 2px solid #d6d6d6;
  width: 28%; ;
  height: 300px ;
  align-items: center;
  background-position: center;
  background-size: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.additional-course-card p {
  margin-bottom: 100px;
  font-size: 0.8rem;
  margin-left: 20px;
  background-color: #444;
  width: fit-content;
  padding: 5px;
  color: #a7a7a7;
  border-radius:20px;
}
.mixed-right {
  width: 20%;
  background-color: #ffffff;
  height: 5rem;
}

.announcements {
  text-align: center;
  margin-bottom: 0;
  background-color: #fff;
  border: 2px solid #d6d6d6;
}
.announcements hr {
  width: 80%;
}

.ann-card {
  margin-bottom: 20px;
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-top: 0;
}

.footer-section p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 80%;
    margin-bottom: 20px;
  }
}




.additional-course-card:hover, .learn-card:hover {
  transform: translateY(-5px); /* Menggeser elemen ke bawah saat di hover */
}